<footer class="footer wow fadeIn" id="contacts">
  <div class="footer__bg"><img src="/img/17.jpg" alt=""></div>

  <div class="container">
    <div class="footer__inner">
      <h2 class="section__title footer__title">Контакты</h2>

      <div class="footer__content">
        <div class="footer__contacts">
          г. Днепр <br> Сичеславськая <br> Набережная, 17-А <br> тел: <a href="tel:+380995000069">+38 099 500 00 69</a>
        </div>

        {% include "templates/components/_nav.html" %}
      </div>
    </div>
  </div>
</footer>
