<header class="header">
  <div class="container">
    <div class="header__inner">
      {% include "templates/components/_nav.html" %}

      <div class="header__phone">
        Тел: <a href="tel:+380995000069">+38 099 500 00 69</a>
      </div>
    </div>
  </div>
</header>

<section class="hero wow fadeIn">
  <div class="hero__bg"><img src="/img/1.jpg" alt=""></div>

  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Бали - остров мечты, который ждет тебя!</h1>
      <p class="hero__subttl">Забронируй свое путешествие на Бали уже сегодня и начни жить мечтой</p>

      <a href="tel:+380995000069" class="hero__btn btn">Забронировать</a>
    </div>
  </div>
</section>
